nbproject/
log/*.log
log/*.pid
tmp/**/*
tmp/
index/
public/images/human_control/*
public/upload/
db/schema.rb
.DS_Store
*~
public/tmp/
nbproject/
vendor/plugins/**/spec/*.log
rerun.txt
public/plugin_assets/
*.sqlite3
vendor/plugins/rspec-plugin-generator/
.project
.rvmrc
.idea
.bundle
help
steak
config/development.sphinx.conf
db/sphinx/*
.loadpath
coverage
coverage.data
*.xls

