<div class="report">
  <%= render_component *@builder %>

  <br/>
  <% Lolita::Configuration::Report.formats.each do |format| %>
    <%= link_to format.to_s.upcase, send(lolita_resource_name(:action=>:reports,:plural=>true),:format=>format) %>
    &nbsp;
  <% end %>
</div>