<%= raw(@html) %>

<div>
  <% Lolita::Configuration::Report.formats.each do |format| %>
    <%= link_to image_tag("xls.png"), send(lolita_resource_name(:action=>:reports,:plural=>true),:format=>format) %>
    &nbsp;
  <% end %>
</div>
